body{
    margin-bottom: 100px;
    margin-right: 220px;
    margin-left: 220px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    margin-bottom: 100px;
    padding-top: 72px;
    margin-left: 140px;
    margin-right: 140px;
}
    
    
header {
    display: block;
}
    
   
.menu{
    font-size: 18px;
    color: #828282;
    list-style: none;
    margin: 0;

}
.menu li{
    display: inline-block;
    margin-right: 156px;
}


.den {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 18px;
    margin-bottom: 50px;
}


.den ul li a {
    font-family: 'Gilroy Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    text-decoration: none;
}


li {
    display: list-item; 
    text-align: -webkit-match-parent;
}
.den ul {
    margin: 0;
    list-style-type: none;
    -webkit-transform: rotate(
-90deg) translateX(38px);
    -ms-transform: rotate(-90deg) translateX(38px);
    transform: rotate(
-90deg) translateX(38px);
    -webkit-transform-origin: 82% 0%;
    -ms-transform-origin: 82% 0%;
    transform-origin: 82% 0%;
}


ul {
    list-style-type: disc;
}
.den ul li a{
    font-family: 'Gilroy Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    text-decoration: none;
}
.header-img {
    height: 387px;
    background-image: url(img/slider.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    width: 940px;
    margin: 0 auto;
}
user agent stylesheet
div {
    display: block;
}
#about-me{
    text-align: center;

}
#about-me p{
    
    width: 485px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin: 35px auto 10px auto;
}
   
    
    
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.skills{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
    
}
.photoshop{
    background-color:rgb(14, 7, 49);
   
    
}
.skills-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 204px;
    margin-right: 204px;
    
   
}
.adobe{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-top: 25px;
    text-align: center;
}
.portfolio{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    text-align: center;
}
.portfolio h2{
    text-align: center;
}
.portfolio a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 45px;
    margin-bottom: 100px;
    font-size: 18px;
    color: #070707;
    text-align: center;
    margin-bottom: 100px;
}
.reebok{
    margin-top: 100px;
    margin-bottom: 100px;
}
.reebok1{
    margin-top: 100px;
}
.footer {
    margin-top: 200px;
    width: 485px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin: 35px auto 10px auto;
    align-items: center;
}
.footer-btn{
    
    background-color: #070707;
    width: 180px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 85px;
    
    border-radius: 30px;
}
.footer-btn a {
    
    display: block;
    width: 180px;
    height: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 2.2;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-btn{
    margin-top: 100px;
    margin-left: 170px;
}


.links{
    margin-top: 100px;
    width: 345 px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px;
    
}
.links img{
    height: 56px;
    width: 49px;
}
.small{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 123px;
}


   
